<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @signup.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @signup.size %>
</p>

<p>
  <strong>Guest1:</strong>
  <%= @signup.guest1 %>
</p>

<p>
  <strong>Size1:</strong>
  <%= @signup.size1 %>
</p>

<p>
  <strong>Guest2:</strong>
  <%= @signup.guest2 %>
</p>

<p>
  <strong>Size2:</strong>
  <%= @signup.size2 %>
</p>

<p>
  <strong>Guest3:</strong>
  <%= @signup.guest3 %>
</p>

<p>
  <strong>Size3:</strong>
  <%= @signup.size3 %>
</p>

<p>
  <strong>Guest4:</strong>
  <%= @signup.guest4 %>
</p>

<p>
  <strong>Size4:</strong>
  <%= @signup.size4 %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
