<div class="container" id="newedit">
  <div class="row">
  <br>
    <h1 class="centered">Get Ready To Party!</h1>
    <hr>
    <div class="col-lg-offset-4 col-lg-4">
      <p>
        <strong>Name:</strong>
        <%= @signup.name %>
      </p>

      <p>
        <strong>Size:</strong>
        <%= @signup.size %>
      </p>

      <%= link_to 'Edit', edit_signup_path(@signup) %> |
      <%= link_to 'Back', signups_path %>
    </div>

  </div><!-- row -->
</div><!-- container --><p id="notice"><%= notice %></p>
